<form method="post" action="{{ path('app_paiment_delete', {'id': paiment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paiment.id) }}">
    <button class="btn">Delete</button>
</form>
